@using WinMonitorApp.Models

<!-- Defining Tags for Using JQuery-->

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<!--Bootstrap Value imports-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="~/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

<!-- Optional theme -->
<link rel="stylesheet" href="~/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

<!-- Latest compiled and minified JavaScript -->
<script src="~/Scripts/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" href="~/css/custom.css" />

<link rel="stylesheet" 
href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">

<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>



<div id="body" style="border:2px solid rgb(0,148,255); width:99.6%; margin-left:5px; margin-top:5px;">
    <div id="header" style=" width:100%; height:auto;">
        
        <div id="label" style=" width:100%; float:left; font-size: 250%; font-weight: bold;margin-left:10px; margin-right:10px">
                <span style="color:rgb(0,191,255);">WIN </span> MONITOR
        </div><br />
  
<input type="hidden" id="UserCompanyIdReturn" value="@ViewBag.mUserCompanyId"/>
<h3 style="color:rgb(0, 148, 255); margin:10px;"><span style="color:#900000;">Account: </span>@ViewBag.mUserCompanyName</h3>

    <nav class="navbar navbar-default navbar-right" style="height:auto; width:auto; margin-right:10px;">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav nav-tabs navbar-right navbar-inverse" style="font-size: 150%">
                <li><a href="~/User/statusUserView" target="content" id="frameStatusUserView">Status</a></li>
                <li><a href="~/User/historyUserView" target="content" id="frameHistoryUserView">History</a></li>
                <li><a href="~/User/Metrics" target="content" id="frameMetrics">Metrics</a></li>
                <li><a href="~/User/Subscription" target="content" id="frameSubscriptions">Subscription</a></li>
            </ul>
        </div>
      </div>
    </nav>
    </div>
    <iframe id="content" name="content" style="width:100%; height:78%; border: 1px solid rgb(0,148,255);">
    </iframe>

   <div id="footer" class="row-fluid s4-notdlg">
	        <div class="container-fluid">
		        <div id="footer-links">
			        <ul>
				        <li style="list-style-type:none; display:inline;"><a href="http://help.winshuttle.com/foundation " target="_blank">Help</a>&nbsp;&nbsp;</li>
				        <li style="list-style-type:none; display:inline;"><a href="http://www.winshuttle.com/support-training/" target="_blank">Support</a>&nbsp;&nbsp;</li> 
				        <li style="list-style-type:none; display:inline;"><a href="http://www.winshuttle.com/About" target="_blank">About</a>&nbsp;&nbsp;</li>  
                         <li style="list-style-type:none; display:inline;"><a href="http://www.winshuttle.com/Privacy" target="_blank">Privacy</a>&nbsp;&nbsp;</li> 
                         <li style="list-style-type:none; display:inline;"><a href="http://www.winshuttle.com/EULA" target="_blank">EULA</a>&nbsp;&nbsp;</li>
				    </ul>
	        </div>
        </div>
    </div>
   
    </div>